.swal-footer {
  text-align: center;
}
.ant-form-item-explain-error {
  color: red;
}
.order-summary.billing-col:hover {
  background: #999999a8;
}
.order-summary.billing-col.active {
  background: #999999a8;
}
